# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
payparser-env/

# Excel and CSV files
*.xlsx
*.xls
*.csv

# Image files
*.jpg
*.jpeg
*.png

# JSON files
*.json

# Node.js modules and tokens
node_modules/
tokens/
whatsapp-bot/.wwebjs_cache/
whatsapp-bot/auth/
whatsapp-bot/bot_log.txt
whatsapp-bot/chrome_data/
whatsapp-bot/index.html
# logs folder
airflow/logs/
airflow\logs\scheduler\2025-06-13
Excell_sheets/last_id.txt

# processed images
airflow/shared/